{% extends "home.html" %}

{% block page_title %}
    Contact
{% endblock %}

{% block content %}

  <div class="left half">
  <div class="container">
    <div class="row">
      <div class="span12">

    {% if message %}

      <div class="padded">
        <p>Your message has been sent:</p>
        <p>{{ message|linebreaks }}</p>
      </div>

    {% else %}

        <h2>Contact Us</h2>

        <form action="/contact/" method="post" class="form well" style="padding-bottom: 0;">
          <fieldset>

            <div class="control-group">
              {% csrf_token %}

              <p>
              <label class="control-label">Your Name<span class="required">* {{ form.name.errors }}</span></label>
              <input id="id_name" maxlength="200" name="name" type="text">
              </p>

              <p>
              <label class="control-label">Email Address<span class="required">* {{ form.email.errors }}</span></label>
              <input id="id_email" maxlength="200" name="email" type="text">
              </p>

              <p>
              <label class="control-label">Your Message<span class="required">* {{ form.message.errors }}</span></label>
              <textarea cols="40" id="id_message" name="message" rows="10"></textarea>
              </p>

              <button type="submit" class="btn btn-primary" name="submit" value="submit">Send</button>
            </div>

          </fieldset>
        </form>

    {% endif %}

      </div>
    </div>
  </div>

  </div>
  <div class="clear"></div>

{% endblock %}
