{% extends "home.html" %}

{% block page_title %}
   About
{% endblock %}

{% block content %}

<p><h2>Welcome to the Austin Computer Science Educators Project</h2></p>

<div class="well">

<p>Welcome!  This project came about from a desire to build relationships between members of the local programming community and computer science educators through the local chapter of the <a href="http://csta.acm.org/">Computer Science Teachers Association</a> here in Austin.</p>

<p>What we're trying to do: get developers into the classrooms, to have them talk to students about their careers and maybe get involved directly, through mentoring and teaching.</p>

<p>How it works: programming professionals and computer science educators can sign up, get paired and make plans for a school visit.  These classroom visits can include:</p>

<ul>
<li>a Q&A with students about what software development careers are like and what kinds of things they needed to learn</li>
<li>live demonstrations of coding work</li>
<li>one-on-one mentoring, or extras such as helping to plan an after-school computer club</li>
</ul>

<p>All of that is up to the teacher and developer, who are free to negotiate whatever they'd like to see presented to students.</p>

<p>What you'll find on this site: Separate signups for teachers and developers, plus (coming) a page of presentation ideas and activity resources that developers can use when planning their visits.</p>

<p>Thanks for taking an interest in computer science classrooms!  I'm looking forward to seeing what an impact this program makes on Austin area students this year!</p>

</div>

{% endblock %}

