<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block page_title %}{% endblock %}</title>
  {% block page_css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static 'css/edu.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.css' %}>
  {% endblock %}
  {% block page_js %}{% endblock %}
</head>
<body>

<div class="container-fluid" id="header">
  {% block header %}
    {% include "header.html" %}
  {% endblock %}
</div>

<div class="container-fluid">
  {% block content %}
    <p><h2>{{ content.title }}</h2></p>
    <div class="left twothirds well">
      <p>{% autoescape off %}{{ content.body }}{% endautoescape %}</p>
    </div>
    <!-- <div class="left onethird">
      <div class="well">
        <p>{% autoescape off %}{{ content.body|striptags|truncatewords:50 }}{% endautoescape %}</p>
        <p><a href="/about/">Read More</a></p>
      </div>
      <p>TWITTER FEED HERE</p>
    </div>
    <div class="right twothirds">
      <p>BLOG POSTS HERE</p>
    </div>  -->
    <div class="clear"></div>
  {% endblock %}
</div>

<div class="container-fluid" id="footer">
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
</div>

</body>
</html>
