{% extends "home.html" %}

{% block page_title %}
    Developer Sign-Up
{% endblock %}

{% block content %}

  {% include "title_body.html" %}

  <div class="right half">

  <div class="container">
    <div class="row">
      <div class="span12">

        <form action="/developers/" method="post" class="form well" style="padding-bottom: 0;">
          <fieldset>

            <div class="control-group">
              {% csrf_token %}

              <p>
              <label class="control-label">Name<span class="required">* {{ form.name.errors }}</span></label>
              <input id="id_name" maxlength="200" name="name" type="text">
              </p>

              <p>
              <label class="control-label">Email Address<span class="required">* {{ form.email.errors }}</span></label>
              <input id="id_email" maxlength="200" name="email" type="text">
              </p>

              <p>
              <label class="control-label">Bio<span class="required">* {{ form.bio.errors }}</span></label>
              <textarea class="field span12" id="id_bio" name="bio" rows="3" maxlength="200" placeholder="What languages do you work in?  What are your areas of programming expertise?"></textarea>
              </p>

              <p>
              <label class="control-label">Availability<span class="required">* {{ form.availability.errors }}</span></label>
              <select id="id_availability" name="availability">
                <option value="" selected="selected">------------</option>
                <option value="A">Only one time during the school year</option>
                <option value="B">Several times during the year</option>
                <option value="C">Once a month</option>
                <option value="D">Weekly</option>
              </select>
              </p>

              <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
            </div>

          </fieldset>
        </form>

      </div>
    </div>
  </div>

  </div>
  <div class="clear"></div>

{% endblock %}
