{% extends "home.html" %}

{% block page_title %}
    Teacher Sign-Up
{% endblock %}

{% block content %}

  {% include "title_body.html" %}

  <div class="right half">

  <div class="container">
    <div class="row">
      <div class="span12">

        <form action="/teachers/" method="post" class="form well" style="padding-bottom: 0;">
          <fieldset>
            
            <div class="control-group">
              {% csrf_token %}
              
              <p>
              <label class="control-label">Name<span class="required">* {{ form.name.errors }}</span></label>
              <input id="id_name" maxlength="200" name="name" type="text">
              </p>

              <p>
              <label class="control-label">Email Address<span class="required">* {{ form.email.errors }}</span></label>
              <input id="id_email" maxlength="200" name="email" type="text">
              </p>

              <p>
              <label class="control-label">School<span class="required">* {{ form.school.errors }}</span></label>
              <input id="id_school" maxlength="200" name="school" type="text" placeholder="At which school do you teach?">
              </p>

              <p>
              <label class="control-label">School Zip Code<span class="required">* {{ form.school_zip_code.errors }}</span></label>
              <input id="id_school_zip_code" maxlength="200" name="school_zip_code" type="text" placeholder="(needed for pairing purposes)">
              </p>

              <p>
              <label class="control-label">Grade/Age Group<span class="required">* {{ form.grade_age.errors }}</span></label>
              <input id="id_grade_age" maxlength="10" name="grade_age" type="text" placeholder="What grade/age do you teach?">
              </p>

              <p>
              <label class="control-label">Students<span class="required">* {{ form.no_of_students.errors }}</span></label>
              <input id="id_no_of_students" maxlength="4" name="no_of_students" type="text" placeholder="How many students?">
              </p>

              <p>
              <label class="control-label">Needs<span class="required">* {{ form.needs.errors }}</span></label>
              {% for pk, need in form.needs.field.widget.choices %}
                <input type="checkbox" value="{{ pk }}" name="needs" /> {{ need }}<br />
              {% endfor %}
              </p>

              <p>
              <label class="control-label" for="multiSelect">Other</label>
              <textarea class="field span12" id="id_other" name="other" rows="3" maxlength="200" placeholder="Is there anything else we need to know about your class? Any other comments?"></textarea>
              </p>

              <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
            </div>

          </fieldset>
        </form>

      </div>
    </div>
  </div>

  </div>
  <div class="clear"></div>

{% endblock %}
