.clear { clear: both; }
.left { float: left; }
.right { float: right; }

.half { width: 49%; }
.quarter { width: 22%; padding: 10px; }
.fifth { width: 18%; border: 0px solid red; padding: 10px; }
.onethird { width: 35%; }
.twothird { width: 60%; }

.visible { display: block; }
.hidden { display: none; }
.invisible { opacity: 0; }
.inactive { color: #333; }

.required { font-weight: bold; color: red; }

#header { border-bottom: 0px dotted black; }
#footer { border-top: 0px dotted black; }

.padded { padding-top: 100px; padding-bottom: 100px; }
